body{
  background-color: black;
  text-align: center;
  width: 800px;
  height: 800px;
}
.box{
  border: 10px solid #FDC400;
}
#orange-rainbow{
  height: 382px;
  width: 600px;
  padding-top: 10px;
}

#half-rainbow{
  position: right;
  right: 200px;
  top: 495px;
<!--orange #F29400, yellow #F29400, green #D4D700-->
}

#box1{
  background-color: #fc9700;
  width: 800px;
  height: 400px;
  position: center;

}
#box2{
  background-color: #f17800;
  width: 500px;
  height: 200px;
  position: center;
  left: 50px;
  bottom: 500px;
  opacity: 0.1;

}
#box3{
    border: 0px;
  background-color: #a3a500;
  width: 400px;
  height: 400px;
  position: relative;
  left: 40px;
  bottom: 300px;
  opacity: 0.2;
}
#box4{
  border-top: 9px solid #afb200;
  background-color: #ffa500;
  width: 200px;
  height: 400px;
  position: relative;
  left: 75px;
  bottom: 250px;
}
h1{
  color: #d1ca00;
  font-family: impact;
  font-size: 60px;
}
