body{
  background-color: white;
  text-align: center;
  width: 800px;
  height: 800px;
}
.box{
  border: 10px solid #FDC400;
}
#orange-rainbow{
  height: 382px;
  width: 600px;
  padding-top: 10px;
}
#half-rainbow{
  position: absolute;
  left: 600px;
  top: 495spx;

}

#box1{
  background-color: #fc9700;
  width: 800px;
  height: 400px;
  position: center;

}
#box2{
  background-color: #f17800;
  width: 500px;
  height: 700px;
  position: center;
  left: 50px;
  bottom: 500px;
  opacity: 0.4;

}
#box3{
    border: 0px;
  background-color: #3144FF;
  width: 400px;
  height: 400px;
  position: relative;
  left: 100px;
  bottom: 600px;
  opacity: 0.2;
}
#box4{
  border-top: 9px solid #afb200;
  background-color: #ffa500;
  width: 800px;
  height: 400px;
}
h1{
  color: #d1ca00;
  font-family: impact;
  font-size: 60px;
}
